.container {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.container img {
  max-width: 100%;
  animation: fade-in 0.5s;
}

.container h1 {
  margin: 0;
}

.photo p {
  text-align: center;
}

.container a {
  color: #2b2320;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

@media (max-width: 758px) {
  .container {
    padding: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
