/* lora-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v37-latin-regular.woff2") format("woff2");
}

/* lora-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lora-v37-latin-600.woff2") format("woff2");
}

/* lora-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v37-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: "Lora";
  margin: 0;
  font-size: 1.25rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #2b2320;
}

main {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1800px;
}

.photo-grid {
  --frame: 2rem;
  columns: 3;
  margin-inline: auto;
  padding: var(--frame, 0.5rem);
  padding-top: 0;
  column-gap: var(--frame, 0.5rem);
  list-style: none;
  .grid-image {
    display: block;
    height: 100%;
    width: 100%;
  }
  li {
    margin-bottom: var(--frame, 0.5rem);
  }
}
