.container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.hero-image {
  flex: 70%;
}

.hero-image img {
  width: 100%;
  border: 2px solid #2b2320;
  animation: fade-in 0.5s;
}

.container h1 {
  margin: 0;
  font-weight: 600;
}

.hero-image p {
  text-align: center;
}

.contact-info {
  flex: 30%;
}

.contact-info a {
  text-decoration: underline;
  color: #2b2320;
}

.contact-info a:hover {
  text-decoration: none;
}

@media (max-width: 850px) {
  .container {
    padding: 1.5rem;
    flex-wrap: wrap-reverse;
    img {
      margin: 0 auto;
      max-width: 100%;
    }
    h1 {
      font-size: 1.75rem;
    }
  }
}
